{% extends "baseg.html" %}
{% block content %}
    <meta charset="utf-8">
    <h3>
        废品类别信息管理
    </h3>
    <form id="edit-profile" action="{% url 'myadmin_typeupdate' type.id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>编辑废品类别信息</legend>
            <div class="control-group">
                <label class="control-label" for="input01">类别名称：</label>
                <div class="controls">
                    <input type="text" name="wastesname" class="input-xlarge" id="input01" value="{{ type.wastesname }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">数量：</label>
                <div class="controls">
                    <input type="text" name="numbers" class="input-xlarge" id="input01" value="{{ type.numbers }}" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button> <button type="reset" class="btn">重置</button>
            </div>
        </fieldset>
    </form>
{% endblock %}